body {
  position: relative;
  height: 100%;

}

.swiper-slide {
  /* text-align: center;/ */
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.lahgtbcfg {
  /* width: 100%; */
  display: flex;
  /* text-align: center; */
  /* align-items: center; */
  justify-content: center;
  object-fit: cover;

}

.swiper-slide img {
  width: 100%;
  display: flex;
  padding: 0;
}

.lahgtbcfg img {
  width: 8%;
  display: flex;
}

.Image_container {
  width: 100%;
  padding: 0;
}

.Sliders_Images_Container {
  display: flex;
}

.Sliders_Containers {
  display: flex;
}

.Sliders_Container {
  display: flex;
  width: 190%;
}

.Main_Header {
  background-color: yellow;
  display: flex;
  color: black;
}

.Header-brand {
  font-size: small;
  width: 40%;
}

.Images_Div {
  width: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Scnd_Images_Div {
  width: 50%;
  font-size: smaller;

}

.Image_Design_Div{
  border-radius: 10px;
  background-color: white

}
.Images_Div2 {
  text-align: center;
  align-items: center;
}
.Img_saBG{
  background-color: black;
}

.Main_Cards_Container_Div {
  background-color: rgb(225, 235, 243);
  border-radius: 10px;

}

.Items_Card_Div {
  background-color: rgb(225, 235, 243);
  border-radius: 10px;


}

.asddfafsgag {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.saagaiajfoggfa {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.Images_Divfsd {
  width: 100%;
}

.Image_Design {
  background-color: rgb(225, 235, 243);
  border-radius: 10px;
}